@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  margin-bottom: 140px;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 135px 16px;
  margin-bottom: 60px;
  border-bottom: 1px solid #000;
  position: relative;
}

.login-header h1 {
  background: linear-gradient(to right, #d3b5b5, #87e2ee);
  border-radius: 4px;
  margin: auto;
  text-align: center;
  text-shadow: 2px 2px 4px #ec9f9f;
  padding: 8px 12px;
}

.login-header a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  position: absolute;
  right: 10px; 
}

.login-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 129px;
}

.login-content img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.login-form {
  width: 100%;
  max-width: 370px;
  text-align: center;
}

.login-form h2 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #000;
  margin-bottom: 24px;
}

.login-form p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  margin-bottom: 48px;
}

.login-form form input {
  font-family: Poppins;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-style: none;
  display: block;
  outline: none;
  margin-bottom: 40px;
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
}

.login-button  {
  font-family: Poppins;
  width: 100%;
  padding: 16px 48px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #FAFAFA;
  cursor: pointer;
  border-style: none;
  background-color: #DB4444;
  margin-right: 87px;
  margin-bottom: 20px;
}

.login-form a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #DB4444;
  text-decoration: none;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}
@media (max-width: 768px) {
  .login-container {
    margin-bottom: 40px;
  }

  .login-header {
    padding: 20px 0;
    text-align: center;
  }

  .login-header h1 {
    font-size: 24px;
  }
  .login-header a {
    padding: 24px;
  }
  .login-content {
    flex-direction: column;
    gap: 20px;
  }

  .login-content img {
    max-width: 300px;
  }

  .login-form {
    max-width: 100%;
    padding: 0 20px;
  }

  .login-form h2 {
    font-size: 28px;
  }

  .login-form form input, .login-button {
    font-size: 14px;
  }
}
